@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    620002, Россия, г. Екатеринбург, ул. Мира, д. 28.<br />
    Кафедра "Теплофизика и информатика в металлургии", ИНМТ Уральский федеральный университет<br />
    <abbr title="Телефон">Телефон:</abbr>
    +7 (912) 277-34-97
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:grinzya@yandex.ru">grinzya@yandex.ru</a><br />

</address>